# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins-dependencies
.metadata

# .env
.env

# Android
android/.gradle
.gradle/
**/.gradle/
**/android/.gradle/

# iOS (even if not used yet)
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store

